<ng-container>
  <ion-toolbar color="primary">
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-row class="ion-justify-content-center">
          <ion-button class="round" href="https://discord.gg/cUX5KUkZPD"> 
            <img 
              src="../../assets/icon/discordicon.png"
            />
          </ion-button>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row class="ion-justify-content-center">
          <ion-button class="round" href="https://github.com/kuretoshi/BetterCrewlink-mobile_fix">
            <img
              src="../../assets/icon/giticon.png"
            /> 
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ng-container>
